body {
  margin: 0;
  padding: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#closed, #open {
  z-index: 10;
}

.zIndex {
  z-index: -10!important;
}

#closed, #open {
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  background-color: #946ECF;
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: center 16px;
}

.fadeIconOut {
  transform: rotate(90deg);
  opacity: 0 !important;
  background-size: 0px auto !important;
  background-position: center 32px !important;
}

.fadeIconIn {
  transform: rotate(0deg);
  opacity: 1 !important;
  background-size: 32px auto !important;
  background-position: center 16px !important;
}

#open {
  -webkit-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, opacity 0s ease;
  -moz-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, opacity 0s ease;
  -ms-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, opacity 0s ease;
  -o-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, opacity 0s ease;
  transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, opacity 0s ease;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAn1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8Kd3m4AAAANHRSTlMAAQIEBQkLDA0REhMUFhgaHB8hIyYnMTRVWWdpa2xzgoWRlZqgqrfF0+Di5uvv8fX3+fv9i0OV1AAAANdJREFUOI190VcSgzAMRVFBeu+990JIfftfWyAQRxIm/pPPHYaRicIzOu2rJE5u680dMy0B3JvcC+fgaucwl8XHTRE5L2KPiymgCuPAhsgFVMEcKJIDVQhHnmgoC+mL8JMTUXh8WkU/JQqLpxbGUwrm1kK4pVCeKBJOxacI2trlfoBb47/rIumysDkv7P4r0vxb5IWvZ6KoB8FBuCM35rmUUa52WiY6KheF7xKVfOWseHXCseIrN8WrG43Vq/K4+HpQXIL35U40Bh6935jtt/Tz1gY5fWU/b2OHeDs8LMM+AAAAAElFTkSuQmCC');
}

#closed {
  -webkit-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, ease-out, opacity 0s ease;
  -moz-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, ease-out, opacity 0s ease;
  -ms-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, ease-out, opacity 0s ease;
  -o-transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, ease-out, opacity 0s ease;
  transition: transform .25s ease-out, background-position .25s ease-out, background-size .25s ease-out, ease-out, opacity 0s ease;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAllBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AJcWoAAAAMXRSTlMAAQIDBAUHCA4TFBgnKSwwNE1RVFdbXGN0dXl/i5Kam56lubzKz9rg4ubo6e/x8/n7YLulYgAAAHtJREFUOMvtyrcagkAUROEjYhazYgJzwsS8/8tZ2O7e7f08zRTzA9Fw/5Sj26YHQPMsb3kF4ouM1jCTWZujDca8bTDH/rX8g58CpQ0WnGwwIbVBh9rd+nOgdfX/uwigOjq8XG+x7eOssZIkTfHXLQKAOAsAGDwCgHry3Q9NQqBF5l52hQAAAABJRU5ErkJggg==');
}

#conversation, #input, #header {
  font-family: sans-serif, Roboto, Helvetica;
  font-weight: 400;
}

#header {
  height: 75px;
  width: 380px;
  background-color: #946ECF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 75px;
  font-weight: 300;
  margin-bottom: 15px;
  position: fixed;
  font-weight: 300;
}

#conversation {
  font-size: 14px;
  position: fixed;
  bottom: 100px;
  right: 25px;
  height: 69vh;
  min-height: 200px;
  max-height: 700px;
  width: 380px;
  border-radius: 10px;
  background-color: #F3F3F8;
  overflow-x: hidden;
  border: 1px solid #946ECF;
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

#container .fadeIn {
  opacity: 1!important;
  height: 70vh!important;
}

#messages {
  position: fixed;
  min-height: 35px;
  width: 380px;
  height: calc(70vh - 165px);
  margin-top: 75px;
  overflow-y: scroll;
}

.customer, .company {
  border-radius: 5px;
  margin-bottom: 5px;
  clear: both;
  display: inline-block;
  padding: 15px 15px 15px 15px;
  max-width: 250px;
}

.customer {
  float: right;
  margin-right: 20px;
  color: white;
  background-color: #946ECF;
  border: 1px solid #946ECF;
}

.company {
  float: left;
  margin-left: 20px;
  color: #5E6C7D;
  background-color: white;
  border: 1px solid #DFDFEC;
}

.customerTime {
  float: right;
  margin-right: 25px;
}

.companyTime {
  float: left;
  margin-left: 25px;
}

.customerTime, .companyTime {
  clear: both;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 200;
  color: #5E6C7D;
}

#inputWrapper {
  display: inline-block;
  position: fixed;
  bottom: 105px;
  width: 380px;
  height: 95px;
  background-color: #F3F3F8;
}

#input {
  position: absolute;
  bottom: 18px;
  font-size: 13px;
  height: 25px;
  width: 320px;
  outline: none;
  padding: 10px;
  margin-left: 20px;
  margin-top: 15px;
  border: 1px solid #DFDFEC;
  background-color: white;
  transition: all 0.15s ease-in-out;
  color: #565867;
}

#input:focus {
  background-color: white;
}

#powered {
  position: absolute;
  bottom: -5px;
  left: 0px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 380px;
  text-align: center;
  font-size: 12px;
  color: #946ECF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#powered a, #powered a:visited, #powered a:active {
  text-decoration: none;
  color: #946ECF;
}

#typingIndicator {
  width: 35px;
  height: 15px;
  background-color: #F3F3F8;
  color: #5E6C7D;
  position: absolute;
  bottom: 60px;
  margin: 0 auto;
  border: 1px solid #DFDFEC;
  border-radius: 5px;
  padding: 2px;
  clear: both;
  display: inline-block;
  margin-bottom: 10px;
  float: left;
  margin-left: 25px;
}

#dotOne, #dotTwo, #dotThree {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: #5E6C7D;
  -webkit-animation: 0.6s linear 0s infinite alternate blink;
  -moz-animation: 0.6s linear 0s infinite alternate blink;
  -o-animation: 0.6s linear 0s infinite alternate blink;
  animation: 0.6s linear 0s infinite alternate blink;
}

#typingIndicator #dotOne {
  left: 6px;
  top: 6px;
}

#typingIndicator #dotTwo {
  left: 16px;
  top: 6px;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#typingIndicator #dotThree {
  left: 26px;
  top: 6px;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes blink { from { background-color: #5E6C7D; } to { background-color: #F3F3F8; } }
@-moz-keyframes blink { from { background-color: #5E6C7D; } to { background-color: #F3F3F8; } }
@-o-keyframes blink { from { background-color: #5E6C7D; } to { background-color: #F3F3F8; } }
@keyframes blink { from { background-color: #5E6C7D; } to { background-color: #F3F3F8; } }
