@import url('https://fonts.googleapis.com/css?family=Pacifico');

.navbar {
  width: 100vw;
  height: 50px;
  background-color: $primary-color;
  border-bottom: 1px solid $button-hover;
}

.title {
  font-family: 'Pacifico', Helvetica, Arial;
  color: white;
  font-size: 25px;
  line-height: 50px;
  margin-left: 20px;
  text-decoration: none;
}

.navbarLinks {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
}

.navbarLink {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  padding: 5px;
}
