@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  font-family: sans-serif, Roboto, Helvetica;
  background-color: #F3F3F8;
  color: #5E6C7D;
}

/** { outline: 1px solid red; }*/

.wrapper {
  width: 100vw;
}

.navbar {
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F3F3F8;
  position: sticky;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.red { color: #d95a88; border-bottom: 1px solid #d95a88; }
.red:hover { color: #a62655 }
.blue { color: #4d9bd8; border-bottom: 1px solid #4d9bd8; }
.blue:hover { color: #256fa7 }
.orange { color: #e6a56e; border-bottom: 1px solid #e6a56e; }
.orange:hover { color: #c46d21 }
.green { color: #3dc06c; border-bottom: 1px solid #3dc06c; }
.green:hover { color: #319b58 }
.purple { color: #946ECF; border-bottom: 1px solid #946ECF; }
.purple:hover { color: #6739ac }

.red, .blue, .orange, .green, .purple {
  padding-bottom: 3px;
}

.logoWrapper {
  width: 600px;
}

.logo {
  font-family: 'Pacifico', Helvetica, Arial;
  font-size: 40px;
  color: #946ECF;
  cursor: pointer;
  display: inline-block;
}

.link a {
  text-decoration: none;
}

.taglineImageWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  z-index: 1;
  height: calc(100vh - 250px)
}

.tagline {
  font-size: 24px;
  width: 300px;
  height: 300px;
}

.subTagline {
  font-size: 18px;
  margin-top: 25px;
  font-weight: 300;
}

.browserMockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 3px 3px 0 0;
  z-index: 1;
}

.browserMockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browserMockup > * {
  display: block;
}

.browserMockup img {
  width: 600px;
  height: auto;
}

#featuresWrapper {
  width: 100vw;
  text-align: center;
  background-color: #DFDFEC;
}

.featuresHeader {
  font-size: 35px;
  display: inline-block;
  cursor: pointer;
}

.features {
  margin-top: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feature {
  width: 300px;
  height: 150px;
  padding: 25px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  background-color: #F3F3F8;
  border: 2px solid #5E6C7D;
  border-radius: 5px;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
}

.featureTitle {
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featureTitle img {
  width: 30px;
  height: 30px;
}

.featureDescription {
  margin-top: 15px;
}

.featureSpacer {
  width: 50px;
}

.pricingWrapper {
  width: 100vw;
  margin-bottom: 25px;
  text-align: center;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  width: 250px;
  height: 450px;
  margin: 25px;
  margin-top: 50px;
  text-align: center;
  background-color: #F3F3F8;
  border: 2px solid #5E6C7D;
  border-radius: 5px;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.1);
}

.priceHeader {
  margin-top: 25px;
  font-size: 22px;
}

.priceAmount {
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 15px;
  font-size: 50px;
  width: 150px;
  border-bottom: 1px solid #5E6C7D;
}

.priceDescription {
  margin-top: 15px;
}

.priceFeature {
  margin-bottom: 10px;
  font-size: 18px;
}

.priceFeature img {
  height: 16px;
  width: auto;
}

.month {
  color: #5E6C7D;
  font-size: 30px;
}

.noteHeader {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}

.priceNote {
  margin: 0 auto;
  margin-top: 25px;
  font-size: 14px;
  width: 200px;
  font-style: italic;
}

.triangle {
  position: relative;
  height: 200px;
  width: 100vw;
  overflow: hidden;
  background-color: #F3F3F8;
}

.triangle:before {
  position: absolute;
  bottom: -100px;
  left: 0px;
  height: 200px;
  width: 100vw;
  content: '';
  background-color: #DFDFEC;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.reversed:before {
  top: -100px;
}

.footer {
  background-color: #DFDFEC;
  display: flex;
  align-items: center;
}

.footer a {
  border-bottom: none;
}

.footer img {
  height: 14px;
}

.made {
  margin: 0 auto;
  margin-bottom: 25px;
}
